@import "styles";



section.main {
  background-color: #f2f2f2;
  padding: 20px 0;

  .container{
    position: relative;
  }

  h1, h2, h3 {
    margin: 40px 0;
  }

  div.neu {
    .neumorphism(20px);
    margin: 20px 0;
    padding: 15px;
    p {
      margin: 10px 0;
    }
  }

  p, .formatP, span {
    line-height: 1.5em;
    font-size: 20px;
  }

  p.neu {
    .neumorphism(20px);
    padding: 20px 20px;
    margin: 20px 0;

  }

  .flex-3-blocks{
    display: flex;
    div{
      text-align: center;
      padding: 30px 5px;
      flex-grow: 1;
      background: #e4e4e4;
      border: 2px solid #ccc;
      transition: all ease-in-out 1s;
    }

  }

  ul.neu-list{
    .neumorphism(20px);
    .formatP;
    padding-left: 0;
    margin: 20px 0;
    li{

      border-top: solid 1px #ccc;
      border-bottom: solid 1px #ccc;
      padding: 20px 15px;
      list-style: none;

      &:nth-of-type(1){
        border-bottom: solid 1px #ccc;
        border-top: none;
      }
      &:nth-last-of-type(1){
        border-top: solid 1px #ccc;
        border-bottom: none;
        }
      &:hover{
      }

    }
  }

  code {
    background-color: rgba(196, 196, 196, 0.53);
    font-size: 17px;
    color: #000;
    margin: 0 2px;
    padding: 2px 2px;
  }

  .details{
    cursor: pointer;
    &:after{
      content: '▼';
    }
  }

  .text-center{
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  .selection{
    &:hover{
      text-decoration: underline;
      cursor: pointer;
      user-select: none;
    }
  }

  #flex-wrap-example{
    #flex-nowrap-example;
    flex-wrap: wrap;
    p{
      flex: 120px;
    }
  }
  #flex-nowrap-example{
    display: flex;
    overflow: auto;
    .neumorphizm-inset(20px, #dcdcdc);
    p{
      margin: 10px;
      line-height: 1.1em;
    }
  }

  #flex-d{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    div{
      width: 120px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #ccc;
    }
  }


  .image-content{
    width: 100%;
    text-align: center;
    img{

      transition: all .1s ease-in-out;


      &:hover{
        transform: scale(1.1);
      }
    }
  }

  .hiddenBlock{
    max-height: 0;
    overflow: hidden;
    transition: all .7s ease-in-out;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .working-field{
    .neumorphizm-inset(20px);
    height: 300px;
    #block-field1{
      .neumorphism(20px, #9f9f9f);
      height: 100px;
      width: 100px;
      z-index: 10;
      transition: 1s ease-in-out;
    }
  }
  #settings{
    display: flex;
    div{
      flex: 1;
      span.span-choose{
        margin: 15px 15px;
        font-size: 1.5em;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  #position-form{
    font-size: 2em;
    margin: 20px ;
    input{
      font-size: .7em;
      width: 100px;
      height: 30px;
    }
  }
  .grid-tables{
    div{
      margin: 7px 7px;

    }
  }


  #positionTable {
    //grid-template-columns: 1fr 7fr;
    div {


      &:nth-of-type(2n+1) {
        text-align: center;
        .bold;
      }


    }

  }

}

